@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

/* We remove the 'background' properties from 'body'
  so the canvas in layout.tsx can be seen.
  The 'bg-black' is now on individual <section> elements.
*/
body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles for the "Skip to Content" link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #34d399; /* neon green */
  color: black;
  padding: 8px 12px;
  z-index: 100;
  transition: top 0.3s;
  border-radius: 0 0 8px 8px;
  font-weight: 600;
}

.skip-link:focus {
  top: 0;
}
